@keyframes gradient {
  0% {
    background-color: #ffafbd;
  }
  50% {
    background-color: #ffc3a0;
  }
  100% {
    background-color: #a1c4fd;
  }
}

@font-face {
  font-family: 'HeaderFont';
  src: url('./fonts/HappyMemories.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HeaderFont1';
  src: url('./fonts/Playground.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'HeaderFont2';
  src: url('./fonts/ThisCafe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SubHeader';
  src: url('./fonts/CaviarDreams.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
  background: linear-gradient(45deg, #ffafbd, #ffc3a0, #a1c4fd, #ffafbd);
  background-size: 100% 100%;
  animation: gradient 5s ease infinite;
  color: white;
}

section {
  padding: 2em;
}

h1 {
  font-family: 'HeaderFont2', sans-serif;
  text-align: left;
  color: white;
  font-size: 180px;
}

h2 {
  font-family: 'HeaderFont2', sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
}

h3 {
  font-family: 'SubHeader', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #002366;
}

p, a {
  font-family: 'SubHeader', sans-serif;
  color: #002366;
}

#introduction, #aboutme, #projects {
  padding-top: 60px; 
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #002366;
  text-align: center;
}

footer a {
  color: #002366;
  text-decoration: none;
  font-size: 1.2em;
}

footer .links {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

#aboveContactMe {
  margin-bottom: 1em; 
}